In [2]:
import pandas as pd

In [79]:
chunk0_head = pd.read_csv("chunk0_head_4370.csv")
chunk1_head = pd.read_csv('chunk2_head-Copy3.csv')
chunk2_head = pd.read_csv('chunk0_head_841.csv')
chunk3_head = pd.read_csv('Magnus1headkorrekt.csv')
chunk4_head = pd.read_csv('sofus2head.csv')
chunk5_head = pd.read_csv('sofus3head.csv')
chunk6_head = pd.read_csv('sofus4head.csv')

In [80]:
chunk2_head

,0,1,2,3,4,5
0,https://ekstrabladet.dk/nyheder/erhvervsnyhede...,523,Finanssektor: Tidlig pension kan koste en fami...,Hvis banker og realkreditter får ekstraregning...,"Regeringen lægger op til, at den finansielle s...",20. aug. 2020
1,https://ekstrabladet.dk/sport/fodbold/landshol...,15,Topsponsor suspenderer DBU-aftale,NaN,Arbejdernes Landsbank står ikke på fodboldland...,20. aug. 2020
2,https://ekstrabladet.dk/nyheder/samfund/corona...,120,Corona i klassen: Forældre ekstremt dårligt st...,NaN,Børn og unge bliver på næsten daglig basis sen...,20. aug. 2020
3,https://ekstrabladet.dk/ferie/tokyo-faar-genne...,124,Tokyo får gennemsigtige toiletter i parken,NaN,I denne måned har to parker i Tokyo fået nye t...,20. aug. 2020
4,https://ekstrabladet.dk/ferie/saa-taet-paa-kat...,27,Så tæt på katastrofen: Airbus A320 nær kørt af...,NaN,16. september sidste år. Lissabon Lufthavn. En...,20. aug. 2020
...,...,...,...,...,...,...
836,https://ekstrabladet.dk/sport/formel_1/foeler-...,50,Føler sig snydt: Mercedes-boss truer F1,NaN,12. august er en vigtig dag for Formel 1’s fre...,9. aug. 2020
837,https://ekstrabladet.dk/nyheder/videnskab_og_t...,58,Derfor får man gåsehud,NaN,"Har du nogensinde undret dig over, hvorfor hår...",9. aug. 2020
838,https://ekstrabladet.dk/sport/fodbold/udenland...,0,- Vi havde et blackout,Gennaro Gattuso så sit Napoli-hold begå fejl o...,"Napolis cheftræner, Gennaro Gattuso, var meget...",9. aug. 2020
839,https://ekstrabladet.dk/sport/fodbold/dansk_fo...,7,Vender hjem,Venstrebacken Marc Dal Hende får en treårig ko...,Fodboldklubben Sønderjyske henter venstrebacke...,9. aug. 2020
840,https://ekstrabladet.dk/sport/fodbold/udenland...,4,Stort medie: I morgen sker det,"Britisk medie beretter, at Pierre-Emile Højbje...",Det ventede skifte for fodboldspilleren Pierre...,9. aug. 2020

In [16]:
all_the_stuff = chunk0_head.append(chunk1_head).append(chunk3_head).append(chunk4_head).append(chunk5_head).append(chunk6_head)

In [17]:
all_the_stuff = all_the_stufft

In [18]:
urls = pd.read_csv('urls.csv')

In [19]:
df = pd.DataFrame()

,0,1,2,3,4,5
0,https://ekstrabladet.dk/nyheder/politik/danskp...,1952,Statsministeren åbner for muligt påbud om mund...,NaN,"Statsminister Mette Frederiksen (S) åbner for,...",7. aug. 2020
1,https://ekstrabladet.dk/nyheder/politik/danskp...,448,Mette F. afviser at åbne for nattelivet i august,"Mette Frederiksen (S) siger, at hun ikke kan s...","Statsminister Mette Frederiksen (S) siger, at ...",7. aug. 2020
2,https://ekstrabladet.dk/flash/filmogtv/daarlig...,34,Dårligt nyt til 'Venner'-fans,NaN,Der var gode nyheder til fans af serien 'Frien...,7. aug. 2020
3,https://ekstrabladet.dk/nyheder/samfund/flemmi...,227,Flemming dødtræt af Elgiganten: Gør det aldrig!,NaN,"Per, Mikkel, Jeppe, Allan, Zanshi og Jasmin. F...",7. aug. 2020
4,https://ekstrabladet.dk/nyheder/samfund/venstr...,27,"Venstre vil have håndtrykket tilbage, hvis det...","Virolog mener dog ikke, at tidspunktet er det ...","Hvis du synes, det var svært at finde ud af, h...",7. aug. 2020
...,...,...,...,...,...,...
1154,https://ekstrabladet.dk/sport/fodbold/dansk_fo...,7,Vanvid i 2. division: Utrolige cifre,NaN,HUSK du kan se Danish Fight Night lørdag aften...,11. okt. 2019
1155,https://ekstrabladet.dk/flash/udlandkendte/leg...,135,Legendarisk skuespiller anholdt og lagt i hånd...,NaN,Jane Fonda lovede for nylig at lave ugentlige ...,11. okt. 2019
1156,https://ekstrabladet.dk/nyheder/samfund/flere-...,225,Flere tusinde biler kører rundt med fejl: Arme...,NaN,"Flere tusinde Nissan-biler har en fejl, som gø...",11. okt. 2019
1157,https://ekstrabladet.dk/nyheder/samfund/trump-...,125,Trump klar til betydelige sanktioner mod Tyrkiet,NaN,"USA' præsident, Donald Trump, har givet sin ad...",11. okt. 2019
1159,https://ekstrabladet.dk/ferie/verdens-foerste-...,2,Verdens første rejseguide udstilles på museum,NaN,"Hvis man skal ud at rejse i dag, er der utalli...",11. okt. 2019

In [21]:
all_the_stuff.to_csv("MegaChunk.csv", index=False)

In [ ]:
df["Unique"] = all_the_stuff['0'][~df["Ligand_miss"].isin(df["Ligand_hit"])].drop_duplicates()

In [17]:
urls = pd.read_csv('urls.csv')
megachunk = pd.read_csv('MegaChunk.csv')
unique = list(urls['0'])

In [23]:
megachunk['0']

0        https://ekstrabladet.dk/nyheder/politik/danskp...
1        https://ekstrabladet.dk/nyheder/politik/danskp...
2        https://ekstrabladet.dk/flash/filmogtv/daarlig...
3        https://ekstrabladet.dk/nyheder/samfund/flemmi...
4        https://ekstrabladet.dk/nyheder/samfund/venstr...
                               ...
20160    https://ekstrabladet.dk/sport/fodbold/dansk_fo...
20161    https://ekstrabladet.dk/flash/udlandkendte/leg...
20162    https://ekstrabladet.dk/nyheder/samfund/flere-...
20163    https://ekstrabladet.dk/nyheder/samfund/trump-...
20164    https://ekstrabladet.dk/ferie/verdens-foerste-...
Name: 0, Length: 20165, dtype: object

In [26]:
urls['0']

0        https://ekstrabladet.dk/flash/filmogtv/helt-ny...
1        https://ekstrabladet.dk/nyheder/erhvervsnyhede...
2        https://ekstrabladet.dk/sport/fodbold/landshol...
3        https://ekstrabladet.dk/nyheder/samfund/corona...
4        https://ekstrabladet.dk/ferie/tokyo-faar-genne...
                               ...
37225    https://ekstrabladet.dk/flash/udlandkendte/kar...
37226    https://ekstrabladet.dk/sport/fodbold/udenland...
37227    https://ekstrabladet.dk/biler/har-reddet-milli...
37228    https://ekstrabladet.dk/112/politiet-stopper-m...
37229    https://ekstrabladet.dk/nyheder/politik/danskp...
Name: 0, Length: 37230, dtype: object

In [ ]:

i = 0
for link in list(megachunk['0']):
    if link in list(urls['0']):
        i +=1
        unique.remove(link)
        if i%1000==0:
            print(f'total links: {len(unique)}')

In [35]:
i = 0
for link in unique:
    if link in list(megachunk['0']):
        i +=1
        unique.remove(link)
        if i%1000==0:
            print(f'total links: {len(unique)}')

In [40]:
len(unique)

17151

In [44]:
unique = pd.DataFrame(data = unique)

In [51]:
unique = [ url for url in unique[0] if "https://ekstrabladet.dk/plus" not in url ]

In [55]:

unique = pd.DataFrame(data = unique)
unique.to_csv("unique_links.csv", index=False)

In [56]:
unique

                                                       0
0      https://ekstrabladet.dk/flash/filmogtv/helt-ny...
1      https://ekstrabladet.dk/nyheder/erhvervsnyhede...
2      https://ekstrabladet.dk/sport/fodbold/landshol...
3      https://ekstrabladet.dk/nyheder/samfund/corona...
4      https://ekstrabladet.dk/ferie/tokyo-faar-genne...
...                                                  ...
14885  https://ekstrabladet.dk/flash/udlandkendte/kar...
14886  https://ekstrabladet.dk/sport/fodbold/udenland...
14887  https://ekstrabladet.dk/biler/har-reddet-milli...
14888  https://ekstrabladet.dk/112/politiet-stopper-m...
14889  https://ekstrabladet.dk/nyheder/politik/danskp...

[14890 rows x 1 columns]

In [58]:
#split into equal chunks of urls.
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]
chunks_unique = list(chunks(unique, 4000))
print(f'there are {len(unique_chunks)} chunks')
chunk0_unique = chunks_unique[0]
chunk1_unique = chunks_unique[1]
chunk2_unique = chunks_unique[2]
chunk3_unique = chunks_unique[3]
# save chunks
chunk0_unique = pd.DataFrame(data=chunk0_unique)
chunk0_unique.to_csv("chunk0_unique.csv", index=False)
chunk1_unique = pd.DataFrame(data=chunk1_unique)
chunk1_unique.to_csv("chunk1_unique.csv", index=False)
chunk2_unique = pd.DataFrame(data=chunk2_unique)
chunk2_unique.to_csv("chunk2_unique.csv", index=False)
chunk3_unique = pd.DataFrame(data=chunk3_unique)
chunk3_unique.to_csv("chunk3_unique.csv", index=False)

there are 4 chunks

In [86]:
no_112_chunk2 = [ url for url in chunks_unique[2][0] if "https://ekstrabladet.dk/112" not in url ]

In [88]:
len(no_112_chunk2)

2006

In [90]:
data0 = pd.read_csv("chunk0_head_841.csv")
data1 = pd.read_csv("chunk01_head_done.csv")
data2 = pd.read_csv("chunk02_head-done.csv")
data3 = pd.read_csv("chunk2_head _final_finalfinal.csv")
megachunk = pd.read_csv("MegaChunk.csv")
data5 = pd.read_csv("round2Bot3.csv")

FileNotFoundError: [Errno 2] File chunk0_head_841.csv does not exist: 'chunk0_head_841.csv'